@model SMEProject.Feature.BasicContent.Models.AboutUs
<!-- About  -->
<div class="container text-center mt-4">
    <div class="row">
        <div class="col-12 mt-2 fs-4 text-danger" id="asum1">@Model.AboutTitle</div>
        <div class="col-12 fs-1" id="aintro">@Model.AboutSubTitle</div>
        <div class="col-12 fs-4 text-danger" id="asum2"> @Model.AboutQuote</div>
     </div>
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.Image" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <div class="about">

                    <div class="aboutpic" id="r3">
                        <div class="adesc">
                            @Model.AboutDescription
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

